.jumbotron {
  background-image: none;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: none;
}

.jumbotron .container {
  position: relative;
  top:20px;
}

.p {
  color: black;
  font-size: 18px;  
  font-family: "calibri";
  font-weight: bold;
}